{
    email stockshowdown25@gmail.com
}

stockshowdown.duckdns.org {
    tls {
        ca https://acme.zerossl.com/v2/DV90
    }
    reverse_proxy frontend:80
}

api.stockshowdown.duckdns.org {
    tls {
        ca https://acme.zerossl.com/v2/DV90
    }
    reverse_proxy backend:3000
}